.error-field {
    color: red;
    list-style: none;
}

.to-caps {
    text-transform: capitalize;
    font-weight: 800;
}

.list-form {
    display: inline;
}

.list-group-item.custom-list-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
        margin-right: auto;
    }
}

.list-badges {
    flex-basis: 100%;
    margin-bottom: 1rem;
}

.card-header {
    span {
        font-size: 1.05rem;
    }
}

