.error-field {
    color: red;
    list-style: none;
}

.to-caps {
    text-transform: capitalize;
    font-weight: 800;
}

.list-form {
    display: inline;
}

.list-group-item.custom-list-item {
    display: flex;
    align-items: center;
}

.list-group-item.custom-list-item span {
    margin-right: auto;
}
