.error__404 {
  background-size: cover;
  background: url(/images/error-404-image.jpg?a7d62124c356c7d8d8a21d9042a5610a) no-repeat center;
}

.error__404-headlines {
  color: white;
  font-size: 1.8rem;
  margin: 100px auto;
}

h1 {
  font-size: 8rem;
  color: red;
}

